.itemImage{
    -fx-background-image: url(../images/CaesarGuidePicture.png);
    -fx-background-size: stretch;
    -fx-background-position: center;
}
.itemImage2{
    -fx-background-image: url(../images/tornpaper.png);
    -fx-background-size: stretch;
    -fx-background-position: center;
}
.itemImage3{
    -fx-background-image: url(../images/tornphoto.jpg);
    -fx-background-size: stretch;
    -fx-background-position: center;
}