.questionheader {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'monospace';
}

.questioncontent {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'monospace';
}