.label {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: black;
    -background-color: black;
    background-color: black;
    color: white;
    -fx-text-fill: white;
}

.themebutton {
    
}

.themeselect {
    -fx-background-radius: 50%;
}
.themeselectgridpane {
    -fx-background-image: url(\images\Main_Splash-no_title-.png);
    -fx-background-size: stretch;
    -fx-background-position: center;
}